<!--head-->
<%- include ('partials/head.ejs') %>
<body>
    <!-- Navbar -->
    <%- include ('partials/nav.ejs') %>
    
    <!--Header-->
    <%- include('partials/slider.ejs') %>
    <!-- == Events == -->
    
   

<!--Footer-->
<%- include ('partials/footer.ejs') %>

<!--Script-->
<script src="script/nav.js"></script>
<script src="script/slider.js"></script>
</body>
