<!--head-->
<%- include ('partials/head.ejs') %>
<body>
    <!-- Navbar -->
    <%- include ('partials/nav.ejs') %>
    

    <!-- == Events == -->
    
   

<!--Footer-->
<%- include ('partials/footer.ejs') %>

<!--Script-->
<script src="script/nav.js"></script>
</body>
