<!--head-->
<%- include ('partials/head.ejs', {title: 'Login', styles:['login']}) %>

  <body>
    <!-- Navbar -->
    <%- include ('partials/nav.ejs') %>

      <!--Header-->
      

        <main id="id-container-login">
          <!--LOGIN-->
          <div id="container-login">
            <div class="subtitulo-login">
                <p class="inicio-sesion">Iniciar sesion</p>
              
            </div>
            <form action="">
              <div class="box-login">
                <div class="email-pass-login">
                  <label class="label-email-pass" for="email-login">Email</label>
                  <input type="email" name="email-login" id="email-login"
                    placeholder="Ejemplo: jgonzalesc89@gmail.com" />
                </div>
                <div class="email-pass-login">
                  <label class="label-email-pass" for="password-login">Contraseña</label>
                  <input type="password" name="password-login" id="password-login" placeholder="" />
                </div>
                <div class="recovery-password">
                  <a href="">Olvide mi contraseña</a>
                </div>
                <div class="button">
                  <button type="submit">Iniciar sesión</button>
                </div>
              </div>
            </form>
            <div class="opcion-inicio-sesion">
              <p>O ingresa con</p>
            </div>
            <div class="redes-sociales">
              <div class="facebook"><i class="fa-brands fa-facebook"></i></div>
              <div class="google"><i class="fa-brands fa-google"></i></div>
              <div class="apple"><i class="fa-brands fa-apple"></i></div>
            </div>
          </div>
        </main>
        <!--Footer-->
  <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

	<!--SCRIPT-->
	<script src="script/nav.js"></script>
    <script src="script/slider.js"></script>

</body>	
</html>