<!--head-->
<%- include ('partials/head.ejs') %>
<body>
  <!-- Navbar -->
  <%- include ('partials/nav.ejs') %>

  <!--Header-->
  

  <!--Main section-->

  <!--Footer-->
  <%- include ('partials/footer.ejs') %>

  <!--Script-->
  <script src="script/nav.js"></script>
</body>
