<!--head-->
<%- include ('partials/head.ejs') %>

<body>
  <!-- Navbar -->
  <%- include ('partials/nav.ejs') %>

  <!--Header-->


  <!--SECCION REGISTER-->

  <section id="section-register">
    <div id="container-register">
      <h3>Registra tu cuenta</h3>
      <form action="">
        <div class="form-register">
          <input type="text" placeholder="Usuario" />
          <input type="password" placeholder="Contraseña" />
          <input type="password" placeholder="Confirma tu Contraseña" />
          <input type="email" placeholder="Indica tu email" />
          <input type="email" placeholder="Confirma tu email" />
        </div>
        <div class="terminos-condiciones">
          <input type="checkbox" name="terminos" />
          <label for="terminos">
            Declaro que he leído y autorizo el uso de mis datos personales de
            acuerdo a la <a href="#">Autorización</a> y acepto los
            <a href="#">Términos y Condiciones</a> de CASQUILLERA.</label
            >
          </div>
          <div class="button-register">
            <button type="submit">Completar registro</button>
          </div>
        </form>
    </div>
  </section>

  <!--Footer-->
  <%- include ('partials/footer.ejs') %>

  <!--Script-->
  <script src="script/nav.js"></script>
</body>
