* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@300;400;700&family=Roboto&family=Solitreo&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/*NavBar*/
.menu {
    background-color: #FDB825;
    color: #fff;
    height: 75px;
}

.menu h1{
   font-size: 28px;
}
.menu_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu_links {
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu_item {
    list-style: none;
    position: relative;
    height: 100%;

    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu_item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu_link {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu_link:hover {
    background-color: #FDB825;
}

.menu_arrow {
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 2px;
}

.menu_nesting {
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #F68A53;
}

.menu_link--inside {
    padding: 10px 100px 15px 5px;
}

.menu_link--inside:hover {
    background-color: #FDB825;
}

.menu_hamburge {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu_img {
    display: block;
    width: 36px;
}

@media (max-width : 800px) {
    .menu_hamburge {
        display: flex;
    }

    .menu_item {
        --clip: 0;
        overflow: hidden;
    }

    .menu_item--active {
        --transform: rotate(0);
        --background: #FDB825;
    }

    .menu_item--show {
        background-color: var(--background);
    }

    .menu_links {
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #FDB825;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu_links--show {
        transform: unset;
        width: 100%;
    }

    .menu_link {
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu_arrow {
        margin-left: auto;
        margin-right: 20px;
    }

    .menu_nesting {
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu_link--inside {
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #F68A53;
    }
}

/*Fin navBar*/

/*Slider*/
.container_slider {
    width: 90%;
    min-height: 75vh;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

 .slider {
    background-color: #f2f2f2;
    padding: 40px 0;
}

.slider_container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
}

.slider_body {
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: #f2f2f2;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;

}

.slider_body--show {
    opacity: 1;
    pointer-events: unset;
}

.slider_text {
    max-width: 600px;
}

.sub_title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.slider_rewiew {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
}

.slider_img {
    width: 280px;
    height: 280px;
    display: block;
    margin: 0 auto;
}

.slider_arrow {
    cursor: pointer;
    width: 90%;
}

.slider_arrow:nth-of-type(2) {
    justify-self: end;
}

.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #fcad03;
    text-align: center;
}
.footer p {
    color: whitesmoke;
    margin: 20px auto;
}


/* Mobile device */
@media only screen and (min-width:851px){
     .row{
            display: flex;
            justify-content: center;
            flex-direction: column;
    } 
}
@media only screen and (max-width:850px){
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #865c02;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li {
        margin: 30px auto;
    }
    /* Events */
    .row {
        flex-direction: column;
    }
    .row .col {
        margin: 20px auto;
    }
    .col img {
        max-width: 90%;
    }
    /* explore */
    .explore-content {
        width: 100%;
    }
    .tours .col {
        width: 100%;
    }
    .image-gallery {
        justify-content: center;
        align-items: center;
    }
    .image-gallery img {
        width: 90%;
    }
    .footer {
        padding: 10px;
    }
}

/* Animations */
img {
    transition: transform .3s ease;
}
img:hover {
    transform: scale(1.1);
}
.ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px #00000056;
}
li:hover {
    color: #fc036b;
    cursor: pointer;
}
/* LOGIN */


div.subtitulo-login{
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding: 5px;
    margin: 5px;
    margin-left: 50px;
}

.inicio-sesion, .crear-cuenta{
    display: flex;
    padding: 5px;
    border-bottom: 2px solid gray;
}

#box-login{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.email-pass-login{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
    padding: 10px;
}
.label-email-pass, .recovery-password{
    margin-bottom: 5px;
    font-size: 16px;
    color: #7c7c7c; 
}

input#email-login, #password-login, .recovery-password a, .button{
    padding: 5px;
    font-size: 15px;
    border-radius: 6px;
}
.recovery-password a{
    margin-left: 16px;
   text-decoration: underline;
   color: #7c7c7c;
}

.eyes-icon{
    position: absolute;
    right: 19px;
    bottom: 18px;
    color: #7c7c7c;
}

.button{
    margin-bottom: 10px;
}

.button button{
    width: 90%;
    margin-top: 5px;
    margin-left: 13px;
    padding: 8px;
    background-color: #FCAD03;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    color: white;
}

.opcion-inicio-sesion{
    display: flex;
    justify-content: center;
    width: 87%;
    margin-left: 21px;
    margin-top: 17px;
    margin-bottom: 10px;
    border-top: 1px solid #7c7c7c;
}

.opcion-inicio-sesion p{
    margin: 12px;
}
.lock-key{
    position: absolute;
    bottom: 27px;
    left: 78px;
    font-size: 12px;
    color: white;
}

.redes-sociales{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px;
    padding: 5px;
}

.facebook, .google, .apple{
    text-align: center;
    width: 20%;
    margin: 10px;
    padding: 5px;
    border: 1px solid #7c7c7c;
    border-radius: 5px ;
}

.facebook{
    font-size: 25px;
    color: #1877F2;
}

.google{
    font-size: 25px; 
}

.apple{
    font-size: 25px;
}

/*REGISTER*/

#section-register{
    padding: 15px;
    width: 100%;
}


#section-register h3{
    text-align: center;
    margin: 15px;
}

#section-register .button-register{
    text-align: center;
    margin-top: 10px;
}

#section-register button{
    width: 90%;
    margin: 15px;
    padding: 10px;
    background: RGB(252,173,3);
    color: white;
    border-radius: 5px;
    border: none;
}

.form-register{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.form-register input{
    width: 90%;
    margin: 10px;
    padding: 5px;
    border: 0.1px solid gray;
    border-radius: 5px;
    font-size: 18px;
}

.terminos-condiciones{
    width: 90%;
    margin-left: 15px;
}

.terminos-condiciones input{
    margin: 5px;
    margin-left: 10px;
}

.terminos-condiciones label a{
    color: #FCAD03;
}

.terminos-condiciones label a:hover{
    text-decoration: underline;
}
