<section class="footer">
    <div class="logo-section-footer">
        <img src="/img/logooo.png" alt="logo-footer">
        <h3>CASQUILLERA</h3>
    </div>
    <div class="info-about">
        <p>@casquillera.beer</p>
        <p>!De Colombia para el mundo¡</p>
    </div>
    <div class="social-networks">
        <h5>Síguenos en:</h5>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-whatsapp"></i>
    </div>
</section>