<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CASQUILLERA<%= locals.title ? ' - ' + title : ''%></title>
    <link rel="icon" type="image/x-icon" href="/img/logooo.png" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel="stylesheet"
    />
    <!--Estilos propios-->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="css/mediaQuery.css" />
    <link rel="stylesheet" href="/css/carrito.css"/>
    <% if(locals.styles && Array.isArray(locals.styles)) {
      styles.forEach(style => {%>
        <link rel="stylesheet" href="/css/<%=style%>.css">
      <% })
    } %>
  </head>
