<header>
    <div class="header-content">
        <h2>Provoca tus sentidos</h2>
        <div class="line"></div>
        <h1>CASQUILLERA</h1>
        <a href="#" class="ctn">Learn More</a>
    </div>
</header>